<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edit Products</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="btn btn-dark" href="{{ url_for('admin_dashboard.admin_dashboard') }}">Back</a>
            </div>
        </nav>


    <div class="container mt-5">
        <h1 class="text-center">Products</h1>
        <form method="post" action="{{ url_for('products.add_products') }}" class="mb-4" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="product_name" class="form-label">Product Name</label>
                <input type="text" class="form-control" id="product_name" name="product_name">
            </div>
            <div class="mb-3">
                <label for="product_category" class="form-label">Category</label>
                <select class="form-select" id="product_category" name="product_category" required>
                    <option value="" disabled selected>Select a category</option>
                    {% for category in category_map.keys() %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="mfd" class="form-label">Manufacture Date</label>
                <input type="date" class="form-control" id="mfd" name="mfd">
            </div>
            <div class="mb-3">
                <label for="expiry_date" class="form-label">Expiry Date</label>
                <input type="date" class="form-control" id="expiry_date" name="expiry_date">
            </div>
            <div class="mb-3">
                <label for="rate_per_unit" class="form-label">Rate per Unit</label>
                <input type="number" step="0.1" class="form-control" id="rate_per_unit" name="rate_per_unit" required min="0">
            </div>
            <div class="mb-3">
                <label for="product_image" class="form-label">Product Image</label>
                <input type="file" class="form-control" id="product_image" name="product_image">
            </div>
            <button type="submit" class="btn btn-primary">Add Product</button>
        </form>

<!-- Display added products under categories -->
<div class="container mt-4">
    {% for category in category_map.keys() %}
    <h2 class="mt-4">{{ category.name }}</h2>
    <div class="row row-cols-1 row-cols-md-4">
        {% for product in category_map[category] %}
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5><br>
                    <p class="card-text">Manufacture Date: {{ product.manufacture_date }}</p>
                    <p class="card-text">Expiry Date: {{ product.expiry_date }}</p>
                    <p class="card-text">Rate per Unit: {{ product.rate_per_unit }}</p>
                    {% if product.image_filename != 'placeholder.jpg' %}
                    <img src="{{ url_for('static', filename='product_images/' + product.image_filename) }}"
                        class="img-fluid" alt="{{ product.name }}">
                    {% else %}
                    <img src="{{ url_for('static', filename='placeholder.jpg') }}" class="card-img-top my-4" alt="...">
                    {% endif %}
                    <div class="d-flex justify-content-between mt-3">
                        <a class="btn btn-primary" href="{{ url_for('products.edit_product', product_id=product.id) }}"
                            role="button">Edit</a>
                        <form method="post" action="{{ url_for('products.delete_product', product_id=product.id) }}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% if loop.index % 4 == 0 %}
    </div>
    <div class="row row-cols-1 row-cols-md-4">
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>





    <!-- Include Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>