<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard</title>
    <!-- Add Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h1>Welcome, Admin!</h1>
                    <a href="{{ url_for('logout.logout') }}" class="btn btn-danger">Logout</a>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h5 class="mt-2 mb-3">Current pending orders</h5>
                        <a href="#" class="btn btn-primary mb-2">Pending Orders</a>
                    </li>
                    <li class="list-group-item">
                        <h5 class="mt-2 mb-3">Add or remove products</h5>
                        <a href="#" class="btn btn-primary mb-2">Edit Products</a>
                    </li>
                    <li class="list-group-item">
                        <h5 class="mt-2 mb-3">Add or remove product categories</h5>
                        <a href="#" class="btn btn-primary mb-2">Edit Categories</a>
                    </li>
                    <li class="list-group-item">
                        <h5 class="mt-2 mb-3">Add or remove coupons</h5>
                        <a href="#" class="btn btn-primary mb-2">Add coupons</a>
                    </li>
                    <li class="list-group-item">
                        <h5 class="mt-2 mb-3">Give away coupons to users</h5>
                        <a href="#" class="btn btn-primary mb-2">Distribute Coupons</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Add Bootstrap JavaScript link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>

</html>
